<form id="post_form" method="post">
  {% csrf_token %}
  {% if not reply_to %}
    <label for="title">标题</label>
    <input type="text" id="title" name="title" placeholder="标题" required>
  {% endif %}
  <label for="content">
    内容（可以使用 Markdown，参见 <a href="{% url "markdown" %}">Markdown 使用指南</a>）
  </label>
  <textarea id="content" name="content" placeholder="内容" required></textarea>
  {% if not edit %}
    <p>
      您的帖子将会以 i/{{ identity.current.name }} 的身份发布。<a href="{% url "identity_index" %}">更换身份……</a>
    </p>
  {% endif %}
  <p>
    <strong>发布帖子，即代表您同意我们的 <a href="{% url "code_of_conduct" %}">社区准则</a> 和 <a href="{% url "terms" %}">服务协议</a>，并知悉本服务后台实名，且为自己的言论负责。</strong>
  </p>
  <button type="submit" class="button">发布</button>
</form>
