{% extends "_base.html" %}
{% block title %}
  社区准则 | 奶茶铺
{% endblock title %}
{% block body %}
  <main class="container">
    <h1>社区准则</h1>
    <p>
      <em>本社区准则修改自 <a href="https://www.nmbxd1.com/t/50577215">《X岛使用指南》</a></em>
    </p>
    <h2>不要暴露自己的身份信息</h2>
    <p>
      我们不在意也不想知道您到底是哪位。您应当避免【暴露身份信息】等与社区风气相抵的行为。当然，如果您确实有这方面的需求，或者因为某些心理上的原因试图打破，我们也会维护您【在版规内】的权利。但是同时，我们也无法阻止其他用户对您这种行为的排斥。
    </p>
    <p>
      在这里，唯一能代表您的便是您的【身份】（即八位随机 ID），您的任何发言也只具备与此饼干绑定的【内容属性】，我们在官方上建议您定期对身份进行更换。同时，我们也不建议您过分看重您的（八位随机 ID）的可读性，或是转为用 ID 进行称呼。在更换身份过后，我们建议您忘记任何【原身份】所发生的事情亦或是冲突。
    </p>
    <p>您已经是另一个人了。</p>
    <h2>熟练使用各种搜索工具及对互联网有一定掌控力</h2>
    <p>虽然我们允许提问，但是不建议您发布任何可以通过【百度】或者【其他搜索引擎】轻易就能获得解答的问题。在产生疑问并且进行提问前，我们建议您优先使用最基础的搜索工具，进行自发对信息的【搜索及归纳总结】。</p>
    <p>熟练地使用工具是我们作为人类，与哺乳动物产生本质区别的具体原因。所以我们建议您产生疑问前，请优先使用各种包括【百度】在内的搜索工具。如果您不具备这种应用能力，我们建议您对此进行一定的研究，如依然无法熟练使用。我们善意的提醒您，可能不会适应社区氛围。</p>
    <h2>阅读规章制度</h2>
    <p>【版规】仅仅只对一些讨论内容的分类及基本的界限进行了约束，请查看并了解相应板块的【规则】。理论上来说，任何【版规】都是基于【上文所述原则】以及【遵守国家相关规定】存在的，在此之外很少存在特殊的约束。</p>
    <p>但是我们建议您对此进行阅读以及熟悉，这本身就是对现有信息的一种自发性收集。不存在所谓的门槛亦或是需要您付出大量时间。 </p>
  </main>
{% endblock body %}
